<!DOCTYPE html>
<html>
<head>
    <title>Джереми Кларксон</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <% layout('./layout/page.ejs') %>
<h1>Джереми Кларксон</h1>
<img src="images/clarkson.jpg" alt=""/>
<h4>Дже́реми Чарльз Ро́берт Кларксон - английский телеведущий, фермер и журналист, специализирующийся на автомобильной тематике. 
    Широко известен как ведущий телевизионных шоу «Top Gear», получившего премию «Эмми» в 2005 году, </h4>
</body>
</html>