<!DOCTYPE html>
<html>
<head>
    <title>Ричард Хамонд</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <% layout('./layout/page.ejs') %>
<h1>Ричард Хамонд</h1>
<img src="images/Hamond.jpg" alt=""/>
<h4>Ричард Хамонд -  родом из Ширли, в середине 1980-х годов он переехал со своей семьёй (мать Эйлин, отец Алан, братья Эндрю и Николас) в город-ярмарку Рипон в Северном Йоркшире,
     где его отец владел нотариальной конторой на рыночной площади. Будучи изначально учеником школы Солихол, он перешёл в школу грамоты в Рипоне, а с 1987 по 1989 годы 
     посещал колледж в Харрогите, пройдя обучение по фотографии и телевидению. После окончания колледжа, он работал на нескольких радиостанциях, в том числе
      радио Кливленд, Радио-Йорк, Радио Кумбрия, Радио Лидс, Ньюкасл Радио и Радио Ланкашир, перед прослушиванием на Top Gear.[1]<%=desc%></h4>
</body>
</html>
