<!DOCTYPE html>
<html>
<head>
    <title>Джеймс Мей</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1>Джеймс Мей</h1>
<img src="images/Mey.jpg" alt=""/>
<h4>Джеймс Дэ́ниел Мэй - английский журналист, известный как один из ведущих телепередач Top Gear (2003—2015) и The Grand Tour (с 2016), 
    совместно с Джереми Кларксоном и Ричардом Хаммондом.</h4>
</body>
</html>